<!DOCTYPE html>
<html lang="ru">

<head>

<meta charset="UTF-8">

<title>{{ web_page_title }} nginx</title>

</head>

<body bgcolor="green">

Пример простой страницы - для того, чтобы посмотреть код, нажмите ctrl + U
<br>
Разновидность стенда : {{ansible_hostname}}
<br>
IP-adress : {{ ansible_default_ipv4.address }}
<br>
</body>

</html>
